@charset "utf-8";

html,body {
    overflow-x: hidden;
}
.body.open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
@media (min-width: 800px){
    .spmenulists {
        display: none;
    }
}

/*header*/
.header {
    width: 100%;
    color: #FFFFFF;
    position: fixed;
    z-index: 30;
}
.header.resize {
    width: 100%;
    color: #FFFFFF;
    background-color: #000000;
    position: fixed;
    z-index: 30;
}
.spheader_waitload {
    display: none;
}
/*sptopmenu*/
.sptop_menu {
    position: absolute;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    height: 0;
}
.sptop_menu_inner {
    padding: 20px 10px;
    max-width: 1180px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}
.sp_waittimemenu {
    display: none;    
}
.sptxt {
    display: none;
}
.menu_search {
    background-color: #FFFFFF;
    width: 300px;
    position: relative;
    margin: 0 0 20px auto;
    border: 1px solid #464e68;
    border-radius: 30px;
    padding: 5px 0;
}
.menu_search p {
    color: #e7e7e7;;
    background: url(images/icon/logo_search.png) no-repeat 10px;
    background-size: 15px auto; 
    padding-left: 40px;
    font-size: 12px;
}
.sptop_menulist {
    display: flex;
    justify-content: space-between;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 12px;
}
.menulist {
    border-left: 2px solid #FFFFFF;
    width: 12.5%;
    position: relative;
}
.menulist a {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: #333333;
    position: relative;
}
.menulist img {
    width: 50%;
    margin-bottom: 10px;
}
.menulist span {
    display: block;
    text-align: center;
}
.spdropdown_lists {
    display: none;
    width: 100%;
}
.sptop_menulist li:hover .spdropdown_lists {
    z-index: 0;
    width: 480px;
    background: #333333;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}
.spdropdown_list {
    z-index: 20;
    width: 50%;
    float: left;
    transition: all .3s;
    position: relative;
}
.spdropdown_lists::after {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-bottom-color:#333333;
    bottom:100%;
    left:10%
}
.spdropdown_list a {
    text-align: left;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.sptop_menu.open {
    margin-top: 60px;
    width: 100%;
    background-color: #E7E7E7;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    height: auto;
    animation: fadein 0.2s linear forwards;
}

/*wait_time*/
.screen.open {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.9;
}
@keyframes fadein {
    0% {
      opacity: 0;
      transform: translateY(-100px); /* 開始時はマイナス指定 */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* 終了時の位置をデフォルトに */
    }
}
.header_waittime {
    position: absolute;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    height: 0;
}
.header_waittime.open {
    color: #000000;
    padding-top: 20px;
    margin-top: 60px;
    width: 100%;
    background-color: #F7F7F7;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    height: auto;
    animation: fadein 0.2s linear forwards;
}
.time_inner {
    width: 100%;
    padding: 0 10px;
    max-width: 1180px;
    text-align: left;
    margin: 0 auto;
    position: relative;
}
.header_waittime h2 {
    margin: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
    display: block;
    color: #000000;
}
.header_waitinfo {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.header_waitinfo span {
    font-weight: bold;
}
.header_waitload ul {
    display: block;
    font-size: 14px;
}
.header_waitload li {
    line-height: 1.5;
}
.header_waitload .header_waittopic {
    margin:10px 0; 
}
.header_waitload p {
    margin-bottom: 14px;
    color: #000000;
    font-size: 14px;
}
.header_timenotes {
    margin-top: 20px;
    color: #000000;
}
.screen2.open {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.9;
}
/*header*/
.header_inner {
    background-color: transparent;
    text-align: left;
    text-shadow: 1px 2px 3px #808080;
    position: relative;
    z-index: 50;
}
.header.open .header_inner{
    background-color: #000000;
}
.header_screen {
    max-width: 1180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.header_logo {
    padding: 12px 0;
}
.header_logo span {
    font-size: 1.0rem;
    color: #FFFFFF;
}
.txt_h_time {
    align-content: center;
    font-size: 14px;
    margin: 0 auto 0 2%;
    padding: 0 0 0 28px;
}
/*btn_lang*/
.btn_lang {
    color: #FFFFFF;
    position: relative;
}
.lang_lists {
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: 8px 20px;
    font-size: 12px;
}
.lang_lists a {
    color: inherit;
}
.lang_dropdownlists {
    width: 100%;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    text-align: center;
    border-radius: 16px;
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
.lang_dropdownlist {
    line-height: 2;
}
.lang_dropdownlist:hover {
    color:#ffff00;
}
.lang_lists:hover .lang_dropdownlists {
    display: block;
}
.btn_time {
    color: inherit;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding:8px 20px 8px 40px;
    font-size: 12px;
    background: url(images/icon/point_clock.png) no-repeat 10px 50%;
    background-size: 20px auto; 
    margin-left: 0.75em;
    line-height: 1;
}
.btn_time:hover {
    opacity: 0.9;
}
.btn_time.open {
    opacity: 0.9;  
}
.btn_ramenmenu {
    display: flex;
    align-items: center;
}
.btn_ramenmenu:hover {
    opacity: 0.9;
}
.hamburger_menu {
    display: block;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.hamburger_menu span {
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    left: 0;
    width: 30px;
    height: 1px;
    border-radius: 1px;
}
.hamburger_menu span:nth-of-type(1) {
    top: 10px;
}
.hamburger_menu span:nth-of-type(2) {
    top: 17px;
}
.hamburger_menu span:nth-of-type(3) {
    top: 24px;
}
.hamburger_menu.open span:nth-of-type(1) {
    transform: translateY(7px) rotate(-45deg);
    width: 90%;
}
.hamburger_menu.open span:nth-of-type(2) {
    opacity: 0;
}
.hamburger_menu.open span:nth-of-type(3) {
    transform: translateY(-7px) rotate(45deg);
    width: 90%;
}

.all_more {
    margin-top: 20px;
    text-align: center;
}

/*main*/
.page.open {
    background-color: #000;
    overflow: hidden;
    overflow-y: hidden;
}
.slide-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slide {
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.3s;
    padding: 0;
}
.slide div {
    width: 33.3%;
    height: 100%;
    display: flex;
}
.slick-slide img {
    width: 100%;
    height: 100%;
}
.slick-initialized .slick-slide .news-item {
    padding: 0 5px;
}
.pc { display: block !important; }
.sp { display: none !important; }
 


.waittime_info {
    background-color: #000;
    color: #FFFFFF;
    padding: 15px 0;
}
.waittime_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    max-width: 1180px;
    text-align: left;
    margin: 0 auto;
    position: relative;
}
.txt_h_time_sub {
    align-content: center;
    font-size: 14px;
    max-width: 600px;
    line-height: 20px;
}
.wait_load {
    font-size: 12px;
    position: relative;
}
.wait_load ul {
    display: block;
}
.wait_load li {
    line-height: 1.5;
}
.wait_load p {
    margin: 12px 0;
    color: #FFFFFF;
}
.wait_load span {
    font-weight: bold;
}
.wait_labo {
    margin: 15px 0;
}
.wait_head {
    padding: 0 0 0 28px;
    background: url(images/icon/logo_ramen2.png) no-repeat 0 50%;
}

.wait_time2 {
    font-size: 20px;
}
.wait_com {
    width: 100%;
}
.time_list-item .wait_load {
    width: 120%;
    background-color: #333333;
    color: #fff;
    position: absolute;
    bottom: 15px;
    display: none;
    margin: 20px 0;
    z-index: 1;
    padding: 10px;
}
.time_list-item:hover .wait_load {
    display: block;
}
.time_list-item .wait_area {
    width: 150%;
    background-color: #333333;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 10px;
    display: none;
    margin: 20px 0;
    z-index: 1;
}
.time_list-item:hover .wait_area {
    display: block;
}
.wait_time h2 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
    display: block;
    color: #000000;

}
.wait_area {
    font-size: 12px;
    line-height: 1.5;
}
.wait_area p {
    margin: 15px;
    color: #FFFFFF;
}
.wait_area span {
    font-weight: bold;
} 

.slide-arrow {
    width: 40px;
    height: 40px;
    position: relative;
    top: 170px;
    margin: 0 auto;
}
.slide-arrow2 {
    width: 40px;
    height: 40px;
    position: relative;
    top: 90px;
    margin: 0 auto;
}

.main_head {
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.25em;
    margin-bottom: 40px;
}
.main_head span {
    color: #E60012;
}
.main_head2 {
    text-align: center;
    color: #666666;
    font-size: 32px;
    letter-spacing: 0.25em;
    margin-bottom: 32px;
}
.wait_area {
    display: none;
}
.botton-time_list {
    padding-right: 10px;
}
.time_list {
    width: 100%;
    display: flex;
    font-size: 10px;
}
.time_list-item {
    position: relative;
}
.btn_time_info {
    display: block;
    color: inherit;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding:8px 20px 8px 40px;
    margin-left: auto;
    margin-right: 0;
    background: url(images/icon/point_clock.png) no-repeat 10px;
    background-size: 20px auto; 
}
.btn_time_parking {
    display: block;
    color: inherit;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding:8px 20px 8px 40px;
    margin: 0 0 0 10px;
    background: url(images/icon/point_parking.png) no-repeat 10px;
    background-size: 20px auto; 
}
.top_menu {
    background-color: #e7e7e7;
    position: relative;
    z-index: 0;
}
.top_menu_inner {
    padding: 20px 10px;
    margin: 0 200px;
    text-align: left;
    position: relative;
}

.menulist img {
    width: 50%;
    margin-bottom: 10px;
}
.top_menu span {
    display: block;
    text-align: center;
}
.topic_box {
    padding-top: 60px;
    padding: 0 10px;
    text-align: left;
    margin: 0 auto;
    position: relative;
}
.topic_box_inner {
    max-width: 1180px;
    margin: 0 auto;
    padding: 60px 10px 0 10px;
}
.topic_box ul {
    position: relative;
    z-index: -10;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.topic_box li {
    width: 49%;
    margin-bottom: 10px;
}
.topic_box img {
    width: 100%;
}
.content_topics {
    padding: 60px 0;
}
.topics_inner {
    padding: 0 10px;
    text-align: left;
    margin: 0 100px;
    position: relative;
}
.news_list {
    margin-bottom: 60px;
}
.slide-news {
    display: flex;
}
.slide-news li {
    text-decoration: none;
}
.side-news img {
    width: 100%;
    height: 100%;
}
.slide-news span {
    margin-top: 10px;
    font-size: 12px;
    display: block;
    color: #000000;
}
.slide-news p {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    line-height: 1.5;
}
.button_prev {
    position: absolute;
    top: 40%;
    left: 0;
}
.button_next {
    position: absolute;
    top: 40%;
    right: 10%;
}
.all_more {
    text-align: center;
}
.btn_more {
    text-align: center;
    display: inline-block;
    padding: 15px 10px;
    text-decoration: none;
    line-height: 1;
    width: 100%;
    max-width: 250px;
    border: 1px solid #333333;
    color: #333333;
    font-size: 14px;
}
.btn_more:hover {
    transition: .3s;
    background: #999;
    border: 1px solid #999;
    color: #fff;
}

.ramen_infomation {
    background-color: #000000;
}
.ramen_infomation ul {
    font-size: 30px;
    letter-spacing: 0.15em;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}
.ramen_infomation li {
    overflow: hidden;
    width: 50%;
    opacity: 0.8;
}
.ramen_infomation li:hover {
    opacity: 1;
}
.info_title {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    padding: 60px 10px 90px 10px;
}
.info_link {
    display: block;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}
.info_link img {
    width: 50px;
    margin-bottom: 10px;
}
.ramen_infomation .topic {
    display: block;
    width: 100%;
    position: relative;
}
.top_lineup {
    border-bottom: dashed 1px #999999;
    padding: 60px 0;
}
.lineup_inner {
    width: 100%;
    padding: 0 10px;
    max-width: 1580px;
    text-align: left;
    margin: 0 auto;
    position: relative;
}
.main_head img {
    display: block;
    width: 60px;
    margin: 0 auto 20px auto;
    position: relative;
}
.lineup {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px;
    justify-content: space-evenly;
}
.lineup_box {
    width: 30%;
    margin: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);

}
.lineup_box:hover {
    background: #fafafa;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25)
}
.shop_title {
    margin-bottom: 14px;
}
.lineup_box img {
    position: relative;
    display: block;
    width: 100%;
}
.lineup a {
    display: block;
    padding: 10px;
    position: relative;
}
.lineup_title {
    font-size: 14px;
    color:#E60012;
    font-weight: bold;
    text-align: center;
}
.men-botton .taste-botton {
    display: block;
}
.shop_status {
    display: flex;
    margin: 14px 0;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
.icon_men {
    background-color: #FABE00;
    background-image: url(images/icon/point_ramen.png);
    width: 100%;
    height: 100%;
    padding: 12px 4px 12px 25px;
    border-radius: 5px;
    margin: 0 2px 2px 0;
    background-repeat: no-repeat;
    background-size: auto 30px;
    background-position: 5%;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 10px;
}
.icon_taste {
    background-color: #875F34;
    background-image: url(images/icon/point_spoon.png);
    width: 100%;
    padding: 12px 4px 12px 25px;
    border-radius: 5px;
    margin: 0 2px 2px 0;
    background-repeat: no-repeat;
    background-size: auto 30px;
    background-position: 5%;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 10px;
}

.ramen_exp {
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}
.top_othershop {
    padding: 60px 0;
}
.othershop_inner {
    max-width: 1480px;
    width: 100%;
    padding: 0 10px;
    text-align: left;
    margin: 0 auto;
    position: relative;    
}
.other_shop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.othershop_box {
    width: 31%;
    margin-bottom: 15px;
}
.othershop_box a {
    display: block;
    text-align: center;
    text-decoration: none;
}
.othershop_box img {
    width: 100%;
    margin-bottom: 10px;
}
.othershop_box h3 {
    color: #E60012;
    font-size: 14px;
    margin-bottom: 10px;
}
.othershop_box p {
    color: #000000;
    font-size: 12px;
    line-height: 2;
}
.pic_insta {
    padding: 60px 0;
    background-color: #fafafa;
}
.pic_insta_inner {
    width: 100%;
    padding: 0 10px;
    text-align: left;
    margin: 0 auto;
    position: relative;   
}
.pic_insta ul {
    margin: 0 100px;
    display: flex;
    margin-bottom: 64px;
}
.slider {
    display: flex;
    width: 100%;
    height: 100%;
}
.slider li {
    margin: 0 20px;
    padding: 0;
}
.slider img {
    width: 100%;
    height: 100%;
}
.snslist {
    margin-top: 28px;
    text-align: center;
    letter-spacing: 1.0em;
}
.sec_topnews {
    padding: 60px 0;
}
.topnews_inner {
    width: 100%;
    padding: 0 10px;
    max-width: 1180px;
    text-align: left;
    margin: 0 auto;
    position: relative;      
}
.topnews_body {
    display: flex;
}
.sec_topnews h2 {
    font-size: 40px;
    margin: 0 200px 0 20px;
    padding-top: 50px;
}
.txt_box {
    width: 100%;
}
.txt_box ul {
    border-top: 1px solid #E6E6E6;
    margin-bottom: 14px;
}
.txt_box li {
    display: flex;
    border-bottom: 1px solid #E6E6E6;
    padding: 21px 0;
    line-height: 1.5;
}
.txt_box span {
    font-size: 14px;
    color: #000000;
}
.top_accsess {
    background-color: #fafafa;
    padding: 60px 0;
    width: 100vw;
}
.accsess_inner {
    width: 100%;
    padding: 0 10px;
    text-align: left;
    margin: 0 auto;
    position: relative;       
}
.accsess_body {
    display: flex;
}
.accsess_map {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
.accsess_map iframe {
    width: 100%;
}
.top_accsess h3 {
    color: #E60012;
    font-size: 20px;
}
.address {
    margin-left: 50px;
    width: 50%;
    line-height: 1.5;
}
.address_exp {
    color: #000000;
    font-size: 15px;
    margin-bottom: 14px;
    font-weight: bold;
}
.address a {
    color: inherit;
    text-decoration: none;
}
.opening_hours h4 {
    font-size: 14px;
    margin-bottom: 3.5px;
    font-weight: bold;
}
.opening_exp {
    font-size: 14px;
    margin-bottom: 14px;
    font-family: nomal;
}
.opening_exp small{
    font-size: 11px;
}
.accsess {
    width: 50%;
    line-height: 1.5;
    margin-right: 50px;
}
.accsess h4 {
    margin-bottom: 4.5px;
    font-size: 18px;
    font-weight: bold;
}
.accsess .car {
    margin: 36px 0 4.5px;
}
.accsess p {
    font-size: 14px;
    margin-bottom: 14px;
    font-family: nomal;
}
.top_link {
    background: #eeeeee;
    padding: 90px 0;
}
.toplink_inner {
    width: 100%;
    padding: 0 10px;
    max-width: 1180px;
    text-align: left;
    margin: 0 auto;
    position: relative;    
}
.top_link ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top_link li {
    border: 1px solid #000000;
}
.top_link img {
    width: 100%;
    height: 100%;
}
/*footer*/
.footer {
    background: #333333;
    width: 100%;
    padding: 20px 0;
}
.footer_inner {
    width: 100%;
    padding: 0 10px;
    max-width: 1180px;
    text-align: left;
    margin: 0 auto;
    position: relative;   
}
.footer_text {
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
}
.footer_text li {
    padding: 0 12px;
    border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 12px;
}
.footer_text a {
    color: #FFFFFF;
}
.footer p {
    color: #FFFFFF;
    margin-top: 12px;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
    }
    .header_inner {
        background-color: #000000;
        padding: 0 10px;
    }
    .sptop_menu {
        display: block;
        overflow: auto;
    }
    .sptop_menu_inner {
        padding: 0;
        margin: 0;
        width: 200%;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        transition: .3s;
    }
    .sptop_menu_inner.right {
        left: -100%;
    }
    .spmenu-left,.spmenu-right {
        width: 100%;
        padding: 20px;
    }
    .sptop_menu.open {
        margin-top: 40px;
        width: 100%;
        background-color: #E7E7E7;
        z-index: 10;
        opacity: 1;
        visibility: visible;
        height: calc(100vh - 40px);
    }
    .sp_waittimemenu {
        width: 95vw;
        display: block;
        padding: 10.5px 10.5px 10.5px 30px;
        color:#000000;
        font-size: 14px;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        position: relative;
    }
    .arrowright::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-top: 1px solid #999;
        border-right: 1px solid #999;
        transform: rotate(45deg);
        position: absolute;
        right: 10px;
        top: 30%;
        margin-right: 10px;
    }
    .arrowleft::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-top: 1px solid #999;
        border-right: 1px solid #999;
        transform: rotate(-135deg);
        position: absolute;
        left: 0;
        top: 30%;
        margin-left: 10px;
    }
    .sp_waittimemenu2 {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-top: 1px solid #999;
        border-right: 1px solid #999;
        transform: rotate(45deg);
        position: absolute;
        left: 10px;
        top: 30%;
        margin-left: 10px;
    }
    .sptxt {
        display: block;
        color: #000000;
        padding: 20px 0;
        text-align: center;
        line-height: 1.5;
        margin: 0 auto;
    }
    .spwait_head {
        display: inline-block;
        font-size: 12px;
        background: url(images/icon/favicon_ramen1.png) no-repeat 0 50%;
        background-size: auto 15px;
        padding-left: 18px;
        padding-top: 6px;   
    }
    .spwait_time2 {
        display: block;
        font-weight: bold;
        font-size: 17.5px;
    }
    .spwait_com {
        display: block;
        font-size: 12px;
    }
    .spheader_waitload  {
        display: block;
    }
    .spheader_waitload ul {
        font-size: 14px;
        color: #000000;
    }
    .spheader_waitload li {
        line-height: 1.5;
    }
    .spheader_waitload .header_waittopic {
        margin:10px 0; 
    }
    .spheader_waitload span {
        font-weight: bold;
    }
    .spheader_waitload p {
        margin: 14px 0;
        color: #000000;
        font-size: 14px;
        line-height: 1.5;
    }
    .spheader_waittopic {
        margin-top: 14px;
    }
    .spheader_timenotes {
        margin-top: 20px;
        color: #000000;
    }
    .sptop_menulist {
        width: 100%;
        display: block;
        border: 0;
        color: #666666;
    }
    .menulist {
        width: 100%;
        border: 1px solid #FFFFFF;
        margin: 0 0 5px;
        font-size: 20px;
        position: relative;
    }
    .menulist::before{/* 閉じている時 */
        content: "＋";
        position: absolute;
        right: 20px;
        top: 10px;
        font-weight: bold;
    }
    .menulist.active::before{/* 開いている時 */
        content: "－";
        font-weight: bold;
    }
    .menulist a {
        display: flex;
        padding: 10px;
    }
    .menulist img {
        width: 20px;
        height: 18px;
        margin: 0 10px 0 0;
    }
    .menulist span {
        font-size: 14px;
        color: #666666;
    }
    .menu_search {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .spdropdown_lists {
        display: none;
    }
    .screen.open {
        display: none;
    }
    .txt_h_time {
        display: none;
    }
    .btn_lang {
        display: none;
    }
    .spbtn_lang {
        color: #000000;
        display: block;
    }
    .snslist {
        margin: 28px 0 14px;
        text-align: center;
        letter-spacing: 1.0em;
    }
    .snslist img {
        width: 40px;
        height: 40px;
    }
    .footer_text  {
        display: block;
    }
    .lang_lists {
        border: 0;
    }
    .lang_list {
        display: block;
        border: 1px solid #999999;
        color:  #999999;
        border-radius: 20px;
        padding: 10px 28px;
        font-size: 14px;
        text-align: center;
        margin: 28px 50px;
    }
    .shop_status {
        display: block;
    }
    .spfooter_text a {
        font-size: 12px;
        color: #666666;
        padding: 5px 10px;
        line-height: 2;
    }
    .btn_time {
        display: none;
    }
    .btn_ramenmenu {
        position: fixed;
        right: 8%;
        align-items: center;
    }
    .hamburger_menu {
        display: block;
        position: relative;
        cursor: pointer;
        width: 40px;
        height: 40px;
    }
    .pc { display: none !important; }
    .sp { display: block !important; }

    .waittime_inner {
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    .txt_h_time_sub {
        width: 100%;
    }
    .spwait_head {
        display: inline-block;
        font-size: 12px;
        background: url(images/icon/favicon_ramen1.png) no-repeat 0 50%;
        background-size: auto 15px;
        padding-left: 18px;
        padding-top: 6px;   
    }
    .wait_com {
        display: block;
        margin: 10px 0;
        padding-left: 28px;
    }
    .time_list {
        width: 100%;
    }   
    .time_list-item {
        width: 100%;;
    }
    .top_menu {
        display: none;
    }
    .topic_box {
        padding-top: 60px;
        padding: 0 10px;
        text-align: left;
        margin: 0 auto;
        position: relative;
    }
    .topic_box_inner {
        margin: 0;
        padding: 30px 10px 0;
    }
    .topics_inner {
        margin: 0;
    }
    .slide-arrow {
        width: 20px;
        height: 20px;
        top: 150px
    }
    .btn_more {
        width: 80%;
        margin: 0 auto;
    }
    .topic_box ul {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .topic_box li {
        width: 100%;
        margin-bottom: 10px;
    }
    .ramen_infomation ul {
        display: block;
        flex-wrap: wrap;
    }
    .ramen_infomation li {
        overflow: hidden;
        width: 100%;
        opacity: 0.8;
    }
    .info_title {
        width: 100%;
    }
    .info_link img {
        width: 25px;
        height: 23px;
    }
    .info_link p {
        font-size: 16px;
    }
    .lineup {
        margin: 0;
    }
    .lineup a {
        padding: 5px;
    }
    .lineup_box {
        width: 45%;
    }
    .shop_status span {
        display: block;
    }
    .main_head {
        font-size: 24px;
    }
    .main_head2 {
        font-size: 24px;
    }
    .othershop_inner {
        margin: 0 10px;
    }
    .other_shop {
        display: block;
    }
    .othershop_box {
        width: 95%;
    }
    .pic_insta ul {
        margin: 0 0 48px 0;
    }
    .slide-arrow2 {
        width: 20px;
        height: 20px;
        top: 45px;
    }
    .topnews_inner {
        text-align: center;
        margin: 0;
    }
    .topnews_body {
        display: flex;
        flex-wrap: wrap;
    }
    .sec_topnews h2 {
        margin: 0 auto;
        font-size: 28px;
    }
    .txt_box {
        margin: 20px auto;
    }
    .btn_more {
        display: block;
        max-width: 100%;
    }
    .txt_box span {
        display: block;
        text-align: left;
    }
    .accsess {
        width: 100%;
        margin-bottom: 30px;
    }
    .top_accsess {
        padding: 0;
    }
    .accsess_body {
        display: block;
    }
    .address {
        margin: 0;
        width: 100vw;
    }
    .footer {
        padding: 0 0 20px 0;
    }
    .footer ul {
        display: block;
        flex-wrap: wrap;
    }
    .footer li {
        border-left: 0;
        padding: 12px 0;
        border-bottom: 1px solid #333;
    }
    .footer a {
        display: block;
    }
    .footer p {
        font-size: 10px;
        margin-top: 10px;
    }
    .top_link {
        background: #fbe5e7;
        padding: 10px 0;
    }
    .top_link ul {
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .top_link li {
        width: 45%;
        margin:0 0 14px 0;
    }
    .sptop_menulist li:hover .spdropdown_lists {
        width: 100%;
        z-index: 20;
        background: #FFFFFF;
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
    }
    .spdropdown_list {
        z-index: 20;
        float: left;
        transition: all .3s;
        position: relative;
    }
    .spdropdown_list a {
        text-align: left;
        font-size: 12px;
        color: #666666;
        text-decoration: none;
        position: relative;
    }
    .spdropdown_lists::after {
        display: none;
    }
}
@media screen and (max-width: 599px) {
    .hamburger_menu {
        width: 30px;
        height: 30px;
    }
    .hamburger_menu span:nth-of-type(1) {
        top: 7px;
    }
    .hamburger_menu span:nth-of-type(2) {
        top: 14px;
    }
    .hamburger_menu span:nth-of-type(3) {
        top: 21px;
    }
}
@media screen and (max-width: 499px) {
    .hamburger_menu {
        top: 0;
        right: 10px;
        width: 20px;
        height: 20px;
    }
    .hamburger_menu span:nth-of-type(1) {
        top: 3px;
    }
    .hamburger_menu span:nth-of-type(2) {
        top: 9px;
    }
    .hamburger_menu span:nth-of-type(3) {
        top: 15px;
    }
    .hamburger_menu span {
        display: block;
        position: absolute;
        background-color: #FFFFFF;
        left: 0;
        width: 30px;
        height: 1px;
        border-radius: 1px;
    }
    .hamburger_menu.open span:nth-of-type(1) {
        transform: translateY(9px) rotate(-45deg);
        width: 100%;
    }
    .hamburger_menu.open span:nth-of-type(2) {
        opacity: 0;
    }
    .hamburger_menu.open span:nth-of-type(3) {
        transform: translateY(-3px) rotate(45deg);
        width: 100%;
    }
}