@charset "utf-8";

.header {
    width: 100%;
}
.header_inner {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

/*main*/
.slide-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.indicator {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    column-gap: 10px;
    z-index: 10;
    justify-content: center;
    align-items: center;
}
.indicator li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
}
.indicator li:first-of-type {
    background-color: #CC0000;
}
.waittime_inner {
    display: flex;
}
.top_menulist {
    display: flex;
}
.main_head {
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.15em;
}
.main_head span {
    color: #E60012;
}
.slide_news {
    display: flex;
}
.btn_more {
    text-align: center;
}
.main_head2 {
    text-align: center;
    color: #666666;
}