@charset "utf-8";

.header {
    width: 100%;
    color: #FFFFFF;
    background-color: #000;
}
.header_inner {
    padding: 0 10px;
    max-width: 1180px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}
.header_logo {
    padding: 12px 0;
}
.header_logo span {
    font-size: 1.0rem;
    color: #FFFFFF;
}
.txt_h_time {
    align-content: center;
    font-size: 14px;
    margin: 0 auto 0 2%;
    padding: 0 0 0 28px;
    background: url(images/icon/logo_ramen2.png) no-repeat 0 50%;
}
.btn_lang {
    color: #FFFFFF;
}
.btn_lang li {
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: 8px 20px;
    font-size: 12px;
}
.btn_lang li a {
    color: inherit;
}
.btn_time {
    color: inherit;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding:8px 20px 8px 40px;
    font-size: 12px;
    background: url(images/icon/point_clock.png) no-repeat 10px 50%;
    background-size: 20px auto; 
    margin-left: 0.75em;
    line-height: 1;
}
.btn_ramenmenu {
    display: flex;
    align-items: center;
}
/*main*/
.slide-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.indicator {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    column-gap: 10px;
    z-index: 10;
    justify-content: center;
    align-items: center;
}
.indicator li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    list-style: none;
    background-color: #FFFFFF;
    border: 2px #000 solid;
    cursor: pointer;
}
.indicator li:first-of-type {
    background-color: #CC0000;
}
.waittime_info {
    background-color: #000;
    color: #FFFFFF;
    padding: 15px 0;
}
.waittime_inner {
    display: flex;
    padding: 0 10px;
}
.txt_h_time_sub {
    align-content: center;
    font-size: 14px;
    padding: 0 0 0 28px;
    background: url(images/icon/logo_ramen2.png) no-repeat 0 50%;    
}
.wait_time2 {
    font-size: 20px;
}
.btn_time_info {
    color: inherit;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding:8px 20px 8px 40px;
    margin: 0 0 0 71.8px;
    background: url(images/icon/point_clock.png) no-repeat 10px 50%;
    background-size: 20px auto; 
}
.btn_time_parking {
    color: inherit;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding:8px 20px 8px 40px;
    margin: 0 0 0 10px;
    background: url(images/icon/point_parking.png) no-repeat 10px 50%;
    background-size: 20px auto; 
}
.top_menu {
    background-color: #e7e7e7;
    position: relative;
    z-index: 10;;
}
.top_menu_inner {
    padding: 20px 10px;
    margin: 0 200px;
    text-align: left;
    position: relative;
}
.top_menulist {
    display: flex;
    justify-content: space-between;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 12px;
}
.top_menulist  li {
    width: 12.5%;
    border-left: 2px solid #FFFFFF;
    position: relative;
}
.top_menu a {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: #333333;
    position: relative;
}
.top_menu img {
    width: 50%;
    margin-bottom: 10px;
}
.top_menu span {
    display: block;
    text-align: center;
}
.topic_box {
    padding-top: 60px;
    padding: 0 10px;
    text-align: left;
    margin: 0 auto;
    position: relative;
}
.topic_box_inner {
    margin: 0 200px;
    padding: 60px 10px 0 10px;
}
.topic_box ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.topic_box li {
    width: 49%;
    margin-bottom: 10px;
}
.topic_box img {
    width: 100%;
}
.content_topics {
    padding: 60px 0;
}
.topics_inner {
    padding: 0 10px;
    max-width: 1180px;
    text-align: left;
    margin: 0 auto;
    position: relative;
    margin:  0 200px;
}
.news_list {
    margin-bottom: 60px;
}
.slide_news {
    display: flex;
}
.btn_more {
    text-align: center;
    display: inline-block;
    padding: 15px 10px;
    text-decoration: none;
    line-height: 1;
    width: 100%;
    max-width: 250px;
    border: 1px solid #333333;
    color: #333333;
}
.main_head {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.15em;
    margin-bottom: 40px;
}
.main_head span {
    color: #E60012;
}
.main_head2 {
    text-align: center;
    color: #666666;
}